.jumbotron{
	color: black;

}


h4{
	font-family: "Poiret One", "Questrial", "Arial", "sans-serif" ; 
}

a.btn.btn-md{
	background-color:transparent;
	border: 1px solid;
}

a.btn.btn-md:hover{
	background-color: #18bc9c;
	color: white;
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

#addpost{

	float: right;
	margin-right: 20px;
	font-size:15px;
	color: black;
	background-color: white;
	border-color: slategray;
	padding:20px;
}

/*.carousel-item{

	top: 81px;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    
   

   
   
}*/



/*carouselExampleIndicators{
    width: 100%;
    top:60px;
    left:0;
    height: 60%;
    position:fixed;
}

.carousel, .carousel-inner, .carousel-inner .carousel-item{
    height:100%;
    width:100%;
}
.carousel{
    z-index: -99;
}



.carousel-item .one {
    background: url(images/IMG_6737.png);
    background-size: cover;    
    background-repeat: no-repeat;
}
.carousel-item .two {
    background: url(images/IMG_6630.png);
    background-size: cover;  
    background-repeat: no-repeat;
}
.carousel-item .three {
    background: url(images/IMG_6630.png);
    background-size: cover;  
    background-repeat: no-repeat;
}
.carousel-item .active .left{
    left:0;
    opacity: 1;
}*/

/*.carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}*/
/*
.carousel-control-prev, .carousel-control-next{
    background-image:none;
    width: 6%;
    height: 6%;
    position:absolute;
    top: 45%;
    z-index: 5;
    display:inline-block;

   

}





.carousel-control-prev{
    left:2%;
   
 
    font-size: 30px;
    color: #fff;
   
}

.carousel-control-next{
    right:2%;
    
    font-size: 30px;
    color: #fff;
  
}

.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


.carousel-indicators{
    bottom:40%;
	position:fixed;
}

 .carousel-indicators li {
    
    background-color: rgba(255,255,255,.4);
  border:none;
}
 .carousel-indicators .active{
    
    background-color: #fff;
  border:none;
}*/

/*
.slide1 {
   
    background-size: cover;
    background-repeat: no-repeat;
    background-color: red;
}
.slide2 {
 
    background-size: cover;
    background-repeat: no-repeat;
    background-color: blue;
}
 .slide3 {
  
    background-size: cover;
    background-repeat: no-repeat;
    background-color: pink;
}

*/

/*.carousel-inner .carousel-item .container{
     display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

}

 Slide backgrounds 
.slide1{
    background-size:cover;
    background-repeat:no-repeat;

}

.slide2{
    background-size:cover;
    background-repeat:no-repeat;
}

.slide3{
    background-size:cover;
    background-repeat:no-repeat;
}*/

/* Slide backgrounds */

/*.carousel-fade {
  .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background: #74C390;
}

.item:nth-child(2) {
    background: #51BCE8;
}

.item:nth-child(3) {
    background: #E46653;
}*/