*{
	font-family: "Poiret One", "Questrial", "Arial", "sans-serif" ; 
}

body{

	margin: 0px;
	padding: 0px;
	min-height: 100%;
	font-size: 150%;
	font-family: "Poiret One", "Questrial", "Arial", "sans-serif";
	background-color: gainsboro;
	color: black;
	font-weight: lighter;
}

html{
	margin:0;
	height:100%;
}

.navbar{
	background-color: white;
	border-radius: 0;
	margin: 0;

}


.container{
	padding-top: 15%;
}

.panel-default>.panel-heading {

  background-color: transparent;
  border-color:transparent;


}

.panel{
	background-color: transparent;
	border:none;
}
.panel-title{
	font-size: 2.5em;
	color: LightCoral;
	font-family: "Poiret One";
	text-align:right;

}


.panel-body{
	border-left: 1px solid black;
	border-top: 1px solid black;
	


}
/*.bs-component1{
	position: absolute;
	top: 41%%;
	left: 65%;
	padding-right:15px;
}*/
.btn{
	padding: 30px;
}


.Title h1{


	font-family: "Poiret One","Questrial", "Arial", "sans-serif";
	z-index: -1;
	opacity: 0.5;
	position:absolute;
	left:0;
	font-size: 15em;
	color: white;
}

.navbar-nav {
	display: initial; !important;
}

