{% extends 'base.html' %}

{% block content %}
    <div class = "postedit_title">
    <h1>New post</h1>
    </div>
    
    <div class = "postedit_body">
	    <form method="POST" class="post-form">

            <div class="newPostDetail">
                {% csrf_token %}
                {# Form created through python. Contains details about tutoring course details #}
                {{ form.as_p }}
{#                <button class="save btn btn-default" id="newPostNext">Next</button>#}
            </div>
            <button class="save btn btn-default" id="newPostSave">Save</button>
	    </form>

            {#DOM for users to choose dates#}

            <div id = "Availability">
            <h4> Availability: </h4>
                <button class="add_tutor_time">Add Time</button>
            </div>


{#            <div class = "checkbox">#}
{#                 <label id = "monday" ><input type="checkbox" value="" class="daysofweek"> MONDAY</label>#}
{#                 <input class="timepicker text-center"  jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="start time" id = "mondaystart">#}
{#                <input class="timepicker text-center" jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="end time" id = "mondayend">#}
{#            </div>#}
{##}
{#            <div class = "checkbox">#}
{#                <label id = "tuesday"><input type="checkbox" value=""  class="daysofweek"> TUESDAY</label>#}
{#                <input class="timepicker text-center"  jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="start time">#}
{#                <input class="timepicker text-center" jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="end time">#}
{#            </div>#}
{##}
{#            <div class = "checkbox">#}
{#                 <label id = "wednesday"><input type="checkbox" value="" class="daysofweek"> WEDNESDAY</label>#}
{#                 <input class="timepicker text-center"  jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="start time">#}
{#                <input class="timepicker text-center" jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="end time">#}
{#            </div>#}
{##}
{#            <div class = "checkbox">#}
{#                 <label id = "thursday"><input type="checkbox" value="" class="daysofweek"> THURSDAY</label>#}
{#                 <input class="timepicker text-center"  jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="start time">#}
{#                <input class="timepicker text-center" jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="end time">#}
{#            </div>#}
{##}
{#            <div class = "checkbox">#}
{#                 <label id = "friday"><input type="checkbox" value="" class="daysofweek"> FRIDAY</label>#}
{#                <input class="timepicker text-center"  jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="start time">#}
{#                <input class="timepicker text-center" jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="end time">#}
{#            </div>#}
{#            <div class = "checkbox">#}
{#                 <label id = "saturday"><input type="checkbox" value="" class="daysofweek"> SATURDAY</label>#}
{#                <input class="timepicker text-center"  jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="start time">#}
{#                <input class="timepicker text-center" jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="end time">#}
{#            </div>#}
{##}
{#            <div class = "checkbox">#}
{#                 <label id= "sunday"><input type="checkbox" value="" class="daysofweek"> SUNDAY</label>#}
{#                 <input class="timepicker text-center"  jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="start time">#}
{#                <input class="timepicker text-center" jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" placeholder="end time">#}
{#            </div>#}

{#            <button class="save btn btn-default" id="backToDetail">Back</button>#}

    </div>
{% endblock %}
