
{% extends 'base.html' %}



{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Created at: {{ post.created_at }}
        </div>

        <div class="panel-body">
            UserName: {{ post.username }}<br>
            Name: {{ post.name }}<br>

            Year: {{ post.year }}<br>
            Course: {{ post.course_name }} {{ post.course_number }}<br>
            Start At: {{ post.start_at }}<br>
            End At: {{ post.end_at }}<br>
            Comment: {{ post.comment }} <br>
        </div>
    </div>
    <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-info btn-lg" id="editclass"><span class="glyphicon glyphicon-pencil"></span> edit class </a>
{% endblock %}